[user]
	name = Никита Пономарев
	email = nickbred82@gmail.com
[init]
	defaultBranch = main
[core]
	editor = /usr/bin/vim
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
